*{
    box-sizing: border-box;
    font-size: 10vw;
    font-family: Gabriola, sans-serif;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    color: white;
}

:root{
    --menu-text-color: #abb6e4;
    --hover-color: #fff;
    --stroke-color: #0f1537;
    --bg-color-left: #090915;
    --bg-color-right: #0e101b;
    --button-border: #939393;
    --button-border-hover: #ffffff;
    --bg-color: #000000;
    --border-color: #ffffff;
    --name_bg-color: #4a62a3;
}
