*{
    box-sizing: border-box;
    font-size: 10vw;
    font-family: Gabriola, sans-serif;
    -webkit-user-select: none;
    user-select: none;
}

:root{
    --text-color: #abb6e4;
    --hover-color: #fff;
    --stroke-color: #0f1537;
    --bg-color-left: #090915;
    --bg-color-right: #0e101b;
}
